<table id="book_table_{{ index }}"></table>

<div class="modal fade" id="borrowModal{{ index }}" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel{{ index }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="borrowModalLabel{{ index }}">借书</h4>
            </div>
            <div class="modal-body">
                <form class="form-entry" action="book_borrow" method="post">
                    <div class="form-group">
                        <label for="form_borrow_book_id{{ index }}">图书ID</label>
                        <input type="text" class="form-control" id="form_borrow_book_id{{ index }}" name="book_id" autocomplete="off" readonly>
                    </div>
                    <div class="form-group dropdown">
                        <label for="form_borrow_reader_id{{ index }}">读者</label>
                        <input type="text" class="form-control" id="form_borrow_reader_id{{ index }}" name="reader_id" autocomplete="off" oninput="onFormBorrowReaderInput(this.value)" required>
                        <ul id="form_borrow_reader_menu{{ index }}" class="dropdown-menu" style="display:none"></ul>
                    </div>
                    <div class="form-group">
                        <label for="form_borrow_deadline">还书日期</label>
                        <div class='input-group date' id="borrow_datetimepicker1{{ index }}">
                            <input type="text" class="form-control" id="form_borrow_deadline" name="deadline" autocomplete="off" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#borrow_datetimepicker1{{ index }}').datetimepicker({
                                format: 'YYYY-MM-DD',
                                locale: 'zh-cn',
                                minDate: moment(),
                                maxDate: moment().add(2, 'months')
                            });
                        });
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" >提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var $table = $('#book_table_{{ index }}'),
        $form_borrow_reader_menu = $('#form_borrow_reader_menu{{ index }}');

    $(function() {
        $table.bootstrapTable({
            url: '{{ data_url }}',
            idField: 'id',
            sortName: 'id',
            columns: [
                {
                    title: '图书ID',
                    field: 'id',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'location',
                    title: '存放位置',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'status',
                    title: '状态',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'librarian_name',
                    title: '经办人',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'operate',
                    title: '操作',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                }
            ]
        });
        // sometimes footer render error.
        setTimeout(function() {
            $table.bootstrapTable('resetView');
        }, 200);
        $table.on('all.bs.table', function(e, name, args) {
            console.log(name, args);
        });
        $(window).resize(function() {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    });

    function onFormBorrowReaderInput(value) {
        if (value.length > 0) {
            $.get("{{ url_for('readers') }}?query_text=" + value, function (data) {
                var html = [];
                $.each(data, function (i, reader) {
                    html.push('<li><a id="form_borrow_reader_menu_' + i.toString() + '" onclick="onFormBorrowReaderMenuClick(this.text)">' + reader.id + ' ' + reader.name + '</a></li>');
                });

                $form_borrow_reader_menu.html(html.join(''));
                if (html.length > 0) {
                    $form_borrow_reader_menu.css('display', 'block');
                } else {
                    $form_borrow_reader_menu.css('display', 'none');
                }


            });
        } else {
            $form_borrow_reader_menu.css('display', 'none');
        }
    }

    function onFormBorrowReaderMenuClick(value) {
        $form_borrow_reader_menu.css('display', 'none');
        $('#form_borrow_reader_id{{ index }}').val(value.split(' ')[0]);
    }

    function operateFormatter(value, row, index) {
        var html = [];

        if (row.status === '未借出') {
            html.push('<a class="borrow_book" href="javascript:void(0)" title="借书">借书</a>');
            html.push('<a class="remove_book" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-remove"></i></a>')
        } else if (row.status === '已借出') {
            html.push('<a class="return_book" href="javascript:void(0)" title="还书">还书</a>');
        } else if (row.status === '已预约') {
            html.push('<a class="borrow_reserved_book" href="javascript:void(0)" title="借书">借书</a>');
        }

        return html.join(' ');
    }

    window.operateEvents = {
        'click .borrow_book': function (e, value, row, index) {
            $('#form_borrow_book_id{{ index }}').val(row.id);
            $('#borrowModal{{ index }}').modal();
        },
        'click .remove_book': function(e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            });

            $.ajax({
                url: "delete_book?book_id=" + row.id,
                method: "DELETE",
                success: function () {
                    $('#table').bootstrapTable('refresh');
                }
            });
        },
        'click .return_book': function(e, value, row, index) {
            $.post('book_return', {book_id: row.id}, function () {
                $('#table').bootstrapTable('refresh');
            });
        },
        'click .borrow_reserved_book': function (e, value, row, index) {
            $('#form_borrow_book_id{{ index }}').val(row.id);
            $('#form_borrow_reader_id{{ index }}').val(row.reservation.reader_id);
            $('#form_borrow_reader_id{{ index }}').prop('readonly', true);
            $('#borrowModal{{ index }}').modal();
        }
    };

    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }
</script>
